<form method="post" action="{{ path('lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce lieu ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="btn btn-danger mb-2">Supprimer</button>
</form>
