{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Ajouter un utilisateur</h1>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('participant_index') }}">Retour à la liste</a>
</div>
{% endblock %}
