<form method="post" action="{{ path('campus_delete', {'id': campus.id}) }}" onsubmit="return confirm('êtes vous sur de supprimer ce campus ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
    <button class="btn btn-danger mb-2">supprimer</button>
</form>
