{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit Campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('campus/_delete_form.html.twig') }}
    
    <a href="{{ path('campus_index') }}">retour à la liste</a>
</div>
{% endblock %}
