{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h1>Modifier Campus</h1>

            {{ include('campus/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('campus/_delete_form.html.twig') }}

            <a href="{{ path('campus_index') }}">retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}