{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Liste des campus</h1>

    <table class="table"id="dataTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('campus_show', {'id': campus.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('campus_edit', {'id': campus.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de campus en base de donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-2" href="{{ path('campus_new') }}">Ajouter</a>
</div>
{% endblock %}
