{% extends 'base.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Ajouter un campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('campus_index') }}">retour à la liste</a>
</div>
{% endblock %}
