{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container-fluid col-10 col-sm-6">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Réinitialiser</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
