{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie ||  {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-6">
            <h1>Modification sortie</h1>

            {{ include('sortie/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('sortie/_delete_form.html.twig') }}
            {% if is_granted('ROLE_ADMIN') %}
                 <a href="{{ path('sortie_index') }}">retour à la liste</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}