{% extends 'base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-4">
            <h1>Ajouter une ville</h1>

            {{ include('ville/_form.html.twig') }}

            <a href="{{ path('ville_index') }}">retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}