<form method="post" action="{{ path('etat_delete', {'id': etat.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet état ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat.id) }}">
    <button class="btn btn-danger mb-2">Supprimer</button>
</form>
