{% extends 'base.html.twig' %}

{% block title %}Modifier un état | {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-4">
            <h1>Modification état</h1>

            {{ include('etat/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('etat/_delete_form.html.twig') }}

            <a href="{{ path('etat_index') }}">retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}