{% extends 'base.html.twig' %}

{% block title %}Ajouter un Etat | {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-4">
            <h1>Ajouter un état</h1>

            {{ include('etat/_form.html.twig') }}

            <a href="{{ path('etat_index') }}">retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}